

.page-container {
    height: 100vh;
    /* background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}
/* HEADER */
.header {
    padding: 18px 0 18px 0;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Ubuntu';
    font-style: normal;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    display: block;
    margin-left: 79px;
}
.header-menu {
    display: flex;
    align-items: center;
    margin-right: 79px;
}
.header-icons {
    width: 126px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
}
.header-icons svg:hover path {
    fill: #3CB878;
    transition: 0.4s;
}
.header-registration {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding-left: 27px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
}
.header-log:hover, .header-sign:hover, .header-logo:hover {
    color: #3CB878;
    transition: 0.4s;
}
/* FORM */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu';
    height: calc(100vh - 60px);
}
.form {
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 31px 60px 38px 60px;
    position: relative;
    /* transform: translateY(6%); */
}
.form::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3CB878;
    top: 29px;
    left: 0;
}
.form-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.form-title h2 {
    font-size: 20px;
    line-height: 20px;
}
.form-title a {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.form-title a:hover {
    color: #01813F;
    text-decoration: underline;
}
/* Кнопки соц.мереж */
.form-btn {
    display: flex;
    justify-content: space-between;
}
.btn {
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
}
.btn-facebook {
    background-color: #305DB8;
    padding-right: 22px;
    padding-left: 16px;
}
.btn-facebook:hover {
    background-color: #022263;
    transition: 0.4s;
}
.btn-google {
    background-color: #DF4A32;
    padding-right: 27px;
    padding-left: 12px;
}
.btn-google:hover {
    background-color: #AB1F09;
    transition: 0.4s;
}
.btn-img-facebook {
    background-image: url(../img/F.jpg);
    width: 24px;
    height: 24px;
}
.btn-img-google {
    background-image: url(../img/G+.jpg);
    width: 30px;
    height: 19px;
}
.btn:hover .btn-img-facebook {
    background-image: url(../img/F-dark.jpg);
    transition: 0.4s;
}
.btn:hover .btn-img-google {
    background-image: url(../img/G+dark.jpg);
    transition: 0.4s;
}
/* Бордер кнопок Соц.мереж */
.btn-facebook span::before {
    content: "";
    border-left: 1px solid #0A162F;
    opacity: 0.1;
    padding-left: 18px;
}
.btn-google span::before {
    content: "";
    border-left: 1px solid #2B0D09;
    opacity: 0.1;
    padding-left: 30px;
}
/* OR */
.form-text-or {
    display: flex;
    justify-content: center;
    padding-top: 31px;
    padding-bottom: 12px;
    color:#848484;
    font-size: 14px;
    line-height: 14px;
}
.form-text-or::before, .form-text-or::after {
    content: "";
    border-bottom: 1px solid #F2F2F2;
    width: 152px;
    align-self: center;
}
.form-text-or::before {
    content: "";
    margin-right: 5px;
}
.form-text-or::after {
    content: "";
    margin-left: 2px;
}
/* USER INFO */
.form-userinfo input {
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    color:#434343;
    padding-left: 20px;
}
.form-userinfo > input:last-child {
    margin-bottom: 12px;
}
.form-userinfo > input:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.form-userinfo > input:focus {
    color:#434343;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
::-webkit-input-placeholder {
    color: #BEBEBE;
  }
  .form-userinfo > input:hover::-webkit-input-placeholder {
    color:#434343;
  }
/* CHECKBOX */
.checkbox {
    display: flex;
    align-items: center;
    width: 258px;
    cursor: pointer;
}
.form-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
}
.checkbox > .form-checkbox:checked {
    background-image: url(../img/Vector\ dark-green.jpg);
    background-size: contain;
}
.form-checkbox-text {
    font-size: 14px;
    line-height: 14px;
    color:#434343;
    padding-left: 8px;
}
.form-checkbox-link {
    color:#3CB878;
}
.form-checkbox-link:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}
/* Create Account */
.btn-create {
    width: 324px;
    height: 46px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 20px;
}
.btn-create:hover {
    background-color: #01813F;
    transition: 0.4s;
}